# Data Analysis: Portugal Counties

- Data source: https://www.pordata.pt/Municipios
- GitHub repository: https://github.com/josemmrf/PSn

In [1]:
#!/usr/bin/env python
# -*- coding: utf-8 -*-

#imports
import pandas as pd
import os

In [2]:
#paths
#path = r'C:\Users\Asus\Desktop\semestre2_5oano\PSn\PSn\excelfiles'
path = r'C:\Users\utilizador\Documents\a_hjoaquim\semestre2_5oano\PSn\PSn\excelfiles2'
path_municipios = r'C:\Users\utilizador\Documents\a_hjoaquim\semestre2_5oano\PSn\PSn\municipios.txt'

### Data cleaning and preparation

In [3]:
df = pd.read_excel(os.path.join(path,'O seu municipio em numeros! Abrantes.xls'))
original_df = df

In [4]:
df = df[6:78]
df = df.drop(columns=['Unnamed: 5','Unnamed: 6'])
df.columns = ['Municipios'] + df.loc[7][1:].tolist()
df.loc[6] = ['Ano', 2010, 2019,2010,2019]
df = df.drop(7)
df = df.transpose()

### Keep Portugal lines for later

In [5]:
pt_lines = df.drop([df.index[0], df.index[1], df.index[3]])
pt_lines

,6,8,9,10,11,12,13,14,15,16,...,68,69,70,71,72,73,74,75,76,77
Portugal,2019,10573100,0,0,NaN,15.2,NaN,66.3,NaN,18.5,...,7.24744e+06,NaN,65461,NaN,49,40.1,4776.8,76.2,8,2011
Portugal,2019,10286263,0,111.5,NaN,13.6,NaN,64.4,NaN,22,...,0,NaN,0,NaN,0,32.6,0,109.6,0,6833

In [6]:
df = df.drop([df.index[2], df.index[4]])

### Ready to append every county
Next thing to do is obtain something like that for every other county

In [7]:
df

,6,8,9,10,11,12,13,14,15,16,...,68,69,70,71,72,73,74,75,76,77
Municipios,Ano,População residente,Superfície em km2,Densidade populacional,número médio de indivíduos por km2,Jovens (%),menos de 15 anos,População em idade activa (%),15 aos 64 anos,Idosos (%),...,Receitas da Câmara Municipal (8),"€, milhares",Saldo financeiro da Câmara Municipal,"€, milhares",Transferências recebidas no total das receitas...,Crimes registados pelas polícias por mil habit...,Consumo de energia eléctrica por habitante (kWh),Resíduos urbanos recolhidos selectivamente por...,Despesas do município em ambiente (%),Alojamentos turísticos (6)
Abrantes,2010,39637,0,0,NaN,12.8,NaN,61.6,NaN,25.6,...,25909.4,NaN,1937,NaN,63.8,32.4,4075.9,66.2,5,4
Abrantes,2010,35254,0,49.3,NaN,10.9,NaN,60.3,NaN,28.8,...,0,NaN,0,NaN,0,21.6,0,65.1,0,14

#### For now, we will be keeping only the header so we can append every county in a loop, at once

In [8]:
df = df.drop([df.index[1],df.index[2]])
df

,6,8,9,10,11,12,13,14,15,16,...,68,69,70,71,72,73,74,75,76,77
Municipios,Ano,População residente,Superfície em km2,Densidade populacional,número médio de indivíduos por km2,Jovens (%),menos de 15 anos,População em idade activa (%),15 aos 64 anos,Idosos (%),...,Receitas da Câmara Municipal (8),"€, milhares",Saldo financeiro da Câmara Municipal,"€, milhares",Transferências recebidas no total das receitas...,Crimes registados pelas polícias por mil habit...,Consumo de energia eléctrica por habitante (kWh),Resíduos urbanos recolhidos selectivamente por...,Despesas do município em ambiente (%),Alojamentos turísticos (6)

In [9]:
d1 = original_df
d1 = d1[6:78]
d1 = d1.drop(columns=['Unnamed: 2', 'Unnamed: 4', 'Unnamed: 5','Unnamed: 6'])
d1.columns = ['Municipios'] + d1.loc[7][1:].tolist()
d1.loc[6] = ['Ano', 2010, 2019]
d1 = d1.drop(7)
d1 = d1.transpose()
d1 = d1.drop([d1.index[0]])

#### Now it is time to obtain something like that for every county in the database, and then append it to df, wich only have the headers until here

In [10]:
d1

,6,8,9,10,11,12,13,14,15,16,...,68,69,70,71,72,73,74,75,76,77
Abrantes,2010,39637,0,0,NaN,12.8,NaN,61.6,NaN,25.6,...,25909.4,NaN,1937,NaN,63.8,32.4,4075.9,66.2,5,4
Abrantes,2019,35254,0,49.3,NaN,10.9,NaN,60.3,NaN,28.8,...,0,NaN,0,NaN,0,21.6,0,65.1,0,14

### Building a pseudo database with every county in Portugal
To do that we simply went to the Pordata website and ctrl+C / ctrl+V every county into a text file.
Some minor operations and Voilà!

Most of the times, simple tasks like that don't need to be automated, don't try to hard!! Just get the job done!

In [11]:
# that must be our county database 
f = open(path_municipios, 'r', encoding="utf8")
lista_municipios = [m.strip() for m in f.readlines()]
lista_municipios

['Abrantes',
 'Agueda',
 'Aguiar da Beira',
 'Alandroal',
 'Albergaria-a-Velha',
 'Albufeira',
 'Alcacer do Sal',
 'Alcanena',
 'Alcobaca',
 'Alcochete',
 'Alcoutim',
 'Alenquer',
 'Alfandega da Fe',
 'Alijo',
 'Aljezur',
 'Aljustrel',
 'Almada',
 'Almeida',
 'Almeirim',
 'Almodovar',
 'Alpiarca',
 'Alter do Chao',
 'Alvaiazere',
 'Alvito',
 'Amadora',
 'Amarante',
 'Amares',
 'Anadia',
 'Angra do Heroismo',
 'Ansiao',
 'Arcos de Valdevez',
 'Arganil',
 'Armamar',
 'Arouca',
 'Arraiolos',
 'Arronches',
 'Arruda dos Vinhos',
 'Aveiro',
 'Avis',
 'Azambuja',
 'Baiao',
 'Barcelos',
 'Barrancos',
 'Barreiro',
 'Batalha',
 'Beja',
 'Belmonte',
 'Benavente',
 'Bombarral',
 'Borba',
 'Boticas',
 'Braga',
 'Braganca',
 'Cabeceiras de Basto',
 'Cadaval',
 'Caldas da Rainha',
 'Calheta [R.A.A.]',
 'Calheta [R.A.M.]',
 'Camara de Lobos',
 'Caminha',
 'Campo Maior',
 'Cantanhede',
 'Carrazeda de Ansiaes',
 'Carregal do Sal',
 'Cartaxo',
 'Cascais',
 'Castanheira de Pera',
 'Castelo Branco',
 'Castelo de Paiva',
 'Castelo de Vide',
 'Castro Daire',
 'Castro Marim',
 'Castro Verde',
 'Celorico da Beira',
 'Celorico de Basto',
 'Chamusca',
 'Chaves',
 'Cinfaes',
 'Coimbra',
 'Condeixa-a-Nova',
 'Constancia',
 'Coruche',
 'Corvo',
 'Covilha',
 'Crato',
 'Cuba',
 'Elvas',
 'Entroncamento',
 'Espinho',
 'Esposende',
 'Estarreja',
 'Estremoz',
 'Evora',
 'Fafe',
 'Faro',
 'Felgueiras',
 'Ferreira do Alentejo',
 'Ferreira do Zezere',
 'Figueira da Foz',
 'Figueira de Castelo Rodrigo',
 'Figueiro dos Vinhos',
 'Fornos de Algodres',
 'Freixo de Espada a Cinta',
 'Fronteira',
 'Funchal',
 'Fundao',
 'Gaviao',
 'Gois',
 'Golega',
 'Gondomar',
 'Gouveia',
 'Grandola',
 'Guarda',
 'Guimaraes',
 'Horta',
 'Idanha-a-Nova',
 'Ilhavo',
 'Lagoa',
 'Lagoa [R.A.A.]',
 'Lagos',
 'Lajes das Flores',
 'Lajes do Pico',
 'Lamego',
 'Leiria',
 'Lisboa',
 'Loule',
 'Loures',
 'Lourinha',
 'Lousa',
 'Lousada',
 'Macao',
 'Macedo de Cavaleiros',
 'Machico',
 'Madalena',
 'Mafra',
 'Maia',
 'Mangualde',
 'Manteigas',
 'Marco de Canaveses',
 'Marinha Grande',
 'Marvao',
 'Matosinhos',
 'Mealhada',
 'Meda',
 'Melgaco',
 'Mertola',
 'Mesao Frio',
 'Mira',
 'Miranda do Corvo',
 'Miranda do Douro',
 'Mirandela',
 'Mogadouro',
 'Moimenta da Beira',
 'Moita',
 'Moncao',
 'Monchique',
 'Mondim de Basto',
 'Monforte',
 'Montalegre',
 'Montemor-o-Novo',
 'Montemor-o-Velho',
 'Montijo',
 'Mora',
 'Mortagua',
 'Moura',
 'Mourao',
 'Murca',
 'Murtosa',
 'Nazare',
 'Nelas',
 'Nisa',
 'Nordeste',
 'Obidos',
 'Odemira',
 'Odivelas',
 'Oeiras',
 'Oleiros',
 'Olhao',
 'Oliveira de Azemeis',
 'Oliveira de Frades',
 'Oliveira do Bairro',
 'Oliveira do Hospital',
 'Ourem',
 'Ourique',
 'Ovar',
 'Pacos de Ferreira',
 'Palmela',
 'Pampilhosa da Serra',
 'Paredes',
 'Paredes de Coura',
 'Pedrogao Grande',
 'Penacova',
 'Penafiel',
 'Penalva do Castelo',
 'Penamacor',
 'Penedono',
 'Penela',
 'Peniche',
 'Peso da Regua',
 'Pinhel',
 'Pombal',
 'Ponta Delgada',
 'Ponta do Sol',
 'Ponte da Barca',
 'Ponte de Lima',
 'Ponte de Sor',
 'Portalegre',
 'Portel',
 'Portimao',
 'Porto',
 'Porto de Mos',
 'Porto Moniz',
 'Porto Santo',
 'Povoa de Lanhoso',
 'Povoa de Varzim',
 'Povoacao',
 'Proenca-a-Nova',
 'Redondo',
 'Reguengos de Monsaraz',
 'Resende',
 'Ribeira Brava',
 'Ribeira de Pena',
 'Ribeira Grande',
 'Rio Maior',
 'Sabrosa',
 'Sabugal',
 'Salvaterra de Magos',
 'Santa Comba Dao',
 'Santa Cruz',
 'Santa Cruz da Graciosa',
 'Santa Cruz das Flores',
 'Santa Maria da Feira',
 'Santa Marta de Penaguiao',
 'Santana',
 'Santarem',
 'Santiago do Cacem',
 'Santo Tirso',
 'Sao Bras de Alportel',
 'Sao Joao da Madeira',
 'Sao Joao da Pesqueira',
 'Sao Pedro do Sul',
 'Sao Roque do Pico',
 'Sao Vicente',
 'Sardoal',
 'Satao',
 'Seia',
 'Seixal',
 'Sernancelhe',
 'Serpa',
 'Serta',
 'Sesimbra',
 'Setubal',
 'Sever do Vouga',
 'Silves',
 'Sines',
 'Sintra',
 'Sobral de Monte Agraco',
 'Soure',
 'Sousel',
 'Tabua',
 'Tabuaco',
 'Tarouca',
 'Tavira',
 'Terras de Bouro',
 'Tomar',
 'Tondela',
 'Torre de Moncorvo',
 'Torres Novas',
 'Torres Vedras',
 'Trancoso',
 'Trofa',
 'Vagos',
 'Vale de Cambra',
 'Valenca',
 'Valongo',
 'Valpacos',
 'Velas',
 'Vendas Novas',
 'Viana do Alentejo',
 'Viana do Castelo',
 'Vidigueira',
 'Vieira do Minho',
 'Vila da Praia da Vitoria',
 'Vila de Rei',
 'Vila do Bispo',
 'Vila do Conde',
 'Vila do Porto',
 'Vila Flor',
 'Vila Franca de Xira',
 'Vila Franca do Campo',
 'Vila Nova da Barquinha',
 'Vila Nova de Cerveira',
 'Vila Nova de Famalicao',
 'Vila Nova de Foz Coa',
 'Vila Nova de Gaia',
 'Vila Nova de Paiva',
 'Vila Nova de Poiares',
 'Vila Pouca de Aguiar',
 'Vila Real',
 'Vila Real de Santo Antonio',
 'Vila Velha de Rodao',
 'Vila Verde',
 'Vila Vicosa',
 'Vimioso',
 'Vinhais',
 'Viseu',
 'Vizela',
 'Vouzela']

In [12]:
df = df.append(pt_lines)
for mun in lista_municipios:
    d1 = pd.read_excel(os.path.join(path,'O seu municipio em numeros! ' + mun + '.xls'))
    d1 = d1[6:78]
    d1 = d1.drop(columns=['Unnamed: 2', 'Unnamed: 4', 'Unnamed: 5','Unnamed: 6'])
    d1.columns = ['Municipios'] + d1.loc[7][1:].tolist()
    d1.loc[6] = ['Ano', 2010, 2019]
    d1 = d1.drop(7)
    d1 = d1.transpose()
    d1 = d1.drop([d1.index[0]])
    #print(os.path.join(path,'O seu município em números! ' + mun + '.xls'))
    df = df.append(d1)

### Here we go! 
Right now our data cleasing is almost done; as we can see below there are just one more thing that catch the eye: to many missing values! So let's solve that and then we're ready to go!

In [13]:
df

,6,8,9,10,11,12,13,14,15,16,...,68,69,70,71,72,73,74,75,76,77
Municipios,Ano,População residente,Superfície em km2,Densidade populacional,número médio de indivíduos por km2,Jovens (%),menos de 15 anos,População em idade activa (%),15 aos 64 anos,Idosos (%),...,Receitas da Câmara Municipal (8),"€, milhares",Saldo financeiro da Câmara Municipal,"€, milhares",Transferências recebidas no total das receitas...,Crimes registados pelas polícias por mil habit...,Consumo de energia eléctrica por habitante (kWh),Resíduos urbanos recolhidos selectivamente por...,Despesas do município em ambiente (%),Alojamentos turísticos (6)
Portugal,2019,10573100,0,0,NaN,15.2,NaN,66.3,NaN,18.5,...,7.24744e+06,NaN,65461,NaN,49,40.1,4776.8,76.2,8,2011
Portugal,2019,10286263,0,111.5,NaN,13.6,NaN,64.4,NaN,22,...,0,NaN,0,NaN,0,32.6,0,109.6,0,6833
Abrantes,2010,39637,0,0,NaN,12.8,NaN,61.6,NaN,25.6,...,25909.4,NaN,1937,NaN,63.8,32.4,4075.9,66.2,5,4
Abrantes,2019,35254,0,49.3,NaN,10.9,NaN,60.3,NaN,28.8,...,0,NaN,0,NaN,0,21.6,0,65.1,0,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Viseu,2019,97120,0,191.5,NaN,13.5,NaN,65.3,NaN,21.2,...,0,NaN,0,NaN,0,25.8,0,64.5,0,30
Vizela,2010,23739,0,0,NaN,17,NaN,72.1,NaN,10.9,...,11491.1,NaN,120,NaN,66.4,38.3,3906.8,42.1,4,0
Vizela,2019,23869,0,966.3,NaN,13.2,NaN,71.6,NaN,15.3,...,0,NaN,0,NaN,0,17.8,0,66.7,0,3
Vouzela,2010,10656,0,0,NaN,12.7,NaN,60.7,NaN,26.6,...,10299.6,NaN,642,NaN,77.3,31,2937.2,26.1,7,1
Vouzela,2019,9640,0,49.8,NaN,9.7,NaN,61,NaN,29.2,...,0,NaN,0,NaN,0,23,0,45.5,0,9

In [15]:
df = df.dropna(axis='columns')
df

,6,8,9,10,12,14,16,18,20,21,...,65,66,68,70,72,73,74,75,76,77
Municipios,Ano,População residente,Superfície em km2,Densidade populacional,Jovens (%),População em idade activa (%),Idosos (%),Índice de envelhecimento,População estrangeira (2),População estrangeira em % da população reside...,...,Trabalhadores da Administração Pública Local,Despesas da Câmara Municipal (7),Receitas da Câmara Municipal (8),Saldo financeiro da Câmara Municipal,Transferências recebidas no total das receitas...,Crimes registados pelas polícias por mil habit...,Consumo de energia eléctrica por habitante (kWh),Resíduos urbanos recolhidos selectivamente por...,Despesas do município em ambiente (%),Alojamentos turísticos (6)
Portugal,2019,10573100,0,0,15.2,66.3,18.5,122,443055,4.2,...,135527,7.18198e+06,7.24744e+06,65461,49,40.1,4776.8,76.2,8,2011
Portugal,2019,10286263,0,111.5,13.6,64.4,22,161,588976,5.7,...,128094,0,0,0,0,32.6,0,109.6,0,6833
Abrantes,2010,39637,0,0,12.8,61.6,25.6,200,652,1.6,...,407,23972,25909.4,1937,63.8,32.4,4075.9,66.2,5,4
Abrantes,2019,35254,0,49.3,10.9,60.3,28.8,264,497,1.4,...,368,0,0,0,0,21.6,0,65.1,0,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Viseu,2019,97120,0,191.5,13.5,65.3,21.2,157,2624,2.7,...,814,0,0,0,0,25.8,0,64.5,0,30
Vizela,2010,23739,0,0,17,72.1,10.9,64,140,0.6,...,311,11371.3,11491.1,120,66.4,38.3,3906.8,42.1,4,0
Vizela,2019,23869,0,966.3,13.2,71.6,15.3,116,191,0.8,...,260,0,0,0,0,17.8,0,66.7,0,3
Vouzela,2010,10656,0,0,12.7,60.7,26.6,210,92,0.9,...,179,9657.7,10299.6,642,77.3,31,2937.2,26.1,7,1
Vouzela,2019,9640,0,49.8,9.7,61,29.2,300,100,1,...,202,0,0,0,0,23,0,45.5,0,9

In [18]:
#Saving the result to an xls
path_ro_write = r'C:\Users\utilizador\Documents\a_hjoaquim\semestre2_5oano\PSn\output.xlsx'
df.to_excel(path_ro_write)