In [1]:
# I'll leave this 1st cell just for importings.
import pandas as pd

In [2]:
file_path = r'C:\Users\utilizador\Documents\a_hjoaquim\semestre2_5oano\PSn\Bayesian-training\51006_data.csv'
df = pd.read_csv(file_path)

In [3]:
df

        Doenca  Fumo  Falta de força  Dificuldade em pegar
0      Pistons     1               1                     0
1      Pistons     0               1                     0
2    Injetores     1               1                     0
3    Injetores     1               0                     1
4      Pistons     0               1                     1
..         ...   ...             ...                   ...
307    Pistons     1               1                     0
308   Eletrico     1               1                     1
309   Eletrico     0               0                     1
310  Injetores     1               0                     1
311  Injetores     1               0                     0

[312 rows x 4 columns]

In [4]:
# Let's change our 'Doenca', wich is a String to an integer, with the following correspondense:
# Injetores - 1
# Pistons - 2
# Problema Electico - 3
# BTW, the field 'Doenca' is our Class, meaning: the stuff we want to classify.
# Since we're doing a Baysian Analysis we'll not predict one class, instead we will tell the most lekely one.

In [5]:
# Keeping track, just to control if we don't lose any data.
pistonsCounter = 0; eletricoCounter = 0; injetoresCounter = 0
for d in df['Doenca'] :
    if d == 'Injetores': 
        injetoresCounter += 1
    elif(d == 'Pistons'): 
        pistonsCounter += 1
    elif(d == 'Eletrico'): 
        eletricoCounter += 1
    
print("Presenting our conters: \n")
print("Instances labeled 'Injetores': {}".format(injetoresCounter))
print("Instances labeled 'Pistons': {}".format(pistonsCounter))
print("Instances labeled 'Eletrico': {}".format(eletricoCounter))

Presenting our conters:

Instances labeled 'Injetores': 71
Instances labeled 'Pistons': 127
Instances labeled 'Eletrico': 114

In [6]:
# Getting rid of un-wanted spaces in the strings.
df['Doenca'] = df['Doenca'].apply(lambda x: x.strip())

In [7]:
df = df.replace({'Injetores': 1}, regex=True)
df = df.replace({'Pistons': 2}, regex=True)
df = df.replace({'Eletrico': 3}, regex=True)

In [10]:
# Let's see if we haven't messed with our dataframe and the counters still make sense.
pistonsCounter = 0; eletricoCounter = 0; injetoresCounter = 0
for d in df['Doenca'] :
    if d == 1: 
        injetoresCounter += 1
    elif(d == 2): 
        pistonsCounter += 1
    elif(d == 3): 
        eletricoCounter += 1
    
print("Presenting our control conters: \n")
print("Instances labeled 'Injetores': {}".format(injetoresCounter))
print("Instances labeled 'Pistons': {}".format(pistonsCounter))
print("Instances labeled 'Eletrico': {}".format(eletricoCounter))

Presenting our control conters:

Instances labeled 'Injetores': 71
Instances labeled 'Pistons': 127
Instances labeled 'Eletrico': 114

     Doenca  Fumo  Falta de força  Dificuldade em pegar
0         2     1               1                     0
1         2     0               1                     0
2         1     1               1                     0
3         1     1               0                     1
4         2     0               1                     1
..      ...   ...             ...                   ...
307       2     1               1                     0
308       3     1               1                     1
309       3     0               0                     1
310       1     1               0                     1
311       1     1               0                     0

[312 rows x 4 columns]