In [95]:
import pandas as pd
import numpy as np
import math
from collections import Counter
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.model_selection import cross_val_score

In [118]:
path = r'C:\Users\utilizador\Documents\a_hjoaquim\a_semestre2-5oano\PSn\pratica\guia-5\german_credit_data.csv'
df = pd.read_csv(path)

In [119]:
# Our class, i.e., what we want to predict is "Purpose"
df.drop(df.columns[0],1,inplace=True)
df

,Age,Sex,Job,Housing,SavingAccounts,CheckingAccount,CreditAmount,Duration,Purpose
0,67,male,2,own,NaN,little,1169,6,radio/TV
1,22,female,2,own,little,moderate,5951,48,radio/TV
2,49,male,1,own,little,NaN,2096,12,education
3,45,male,2,free,little,little,7882,42,furniture/equipment
4,53,male,2,free,little,little,4870,24,car
...,...,...,...,...,...,...,...,...,...
995,31,female,1,own,little,NaN,1736,12,furniture/equipment
996,40,male,3,own,little,little,3857,30,car
997,38,male,2,own,little,NaN,804,12,radio/TV
998,23,male,2,free,little,little,1845,45,radio/TV
999,27,male,2,own,moderate,moderate,4576,45,car

In [120]:
# Let's see our class distribution
df['Purpose'].value_counts()

car                    337
radio/TV               280
furniture/equipment    181
business                97
education               59
repairs                 22
domestic appliances     12
vacation/others         12
Name: Purpose, dtype: int64

In [121]:
# Let's make this distribution more even.
# In this example our class will have only 3 values: car, radio/TV and other
# We can thought of this re-arrangig as if the main thing we want to enphasise
# is car and radio/TV class values.

df['Purpose'] = df['Purpose'].apply(lambda x: 'other' if(x == 'furniture/equipment' or x == 'business' or x == 'education' or x == 'repairs' or x == 'domestic appliances' or x == 'vacation/others') else x)

In [122]:
# Our new distribution

df['Purpose'].value_counts()

other       383
car         337
radio/TV    280
Name: Purpose, dtype: int64

In [123]:
df.head(10)

,Age,Sex,Job,Housing,SavingAccounts,CheckingAccount,CreditAmount,Duration,Purpose
0,67,male,2,own,NaN,little,1169,6,radio/TV
1,22,female,2,own,little,moderate,5951,48,radio/TV
2,49,male,1,own,little,NaN,2096,12,other
3,45,male,2,free,little,little,7882,42,other
4,53,male,2,free,little,little,4870,24,car
5,35,male,1,free,NaN,NaN,9055,36,other
6,53,male,2,own,quite rich,NaN,2835,24,other
7,35,male,3,rent,little,moderate,6948,36,car
8,61,male,1,own,rich,NaN,3059,12,radio/TV
9,28,male,3,own,little,moderate,5234,30,car

In [124]:
# Since we've discrete and continuous variables,
# let's build a dict where we'll store the correspondence
# between the column and the it's type.

cont = 'Continuous'; disc = 'Discrete'
dataDescription = { 'Age': cont, 'Sex': disc, 'Housing': disc, 'SavingAccounts': disc, 'CheckingAccount': disc, 'CheckingAccount': disc, 'CreditAmount': cont, 'Duration': disc, 'Purpose': disc }
dataDescription

{'Age': 'Continuous',
 'Sex': 'Discrete',
 'Housing': 'Discrete',
 'SavingAccounts': 'Discrete',
 'CheckingAccount': 'Discrete',
 'CreditAmount': 'Continuous',
 'Duration': 'Discrete',
 'Purpose': 'Discrete'}

In [125]:
# Let's build a function to do the above mentioned.
# It will receive a dict with the data description and the dataset itself
# Then detect wich column(s) need treatment and "remove" the missing values accordingly:
# For discrete attributes: most common value method
# For continuous attributes: medium value method
# Returns the dataset without missing values.
# Note: this is a pure function, i.e., we don't directly mess with the original dataset.

def removeNaN(df, dataDescription):
    wCopy = df.copy()
    attributesWnan = []

    for key in dataDescription:
        if wCopy[key].isnull().values.any() == True:
            attributesWnan.append(key)

    for key in attributesWnan:
        if(dataDescription[key] == 'Discrete'):
            wCopy[key] = wCopy[key].fillna(wCopy[key].value_counts().idxmax())
        else:
            wCopy[key] = wCopy[key].fillna(wCopy[key].mean)
    
    return wCopy

In [126]:
# In this step we should alredy see that our dataframe don't have any missing values.

dfWithoutNan = removeNaN(df, dataDescription)
dfWithoutNan.head(10)

,Age,Sex,Job,Housing,SavingAccounts,CheckingAccount,CreditAmount,Duration,Purpose
0,67,male,2,own,little,little,1169,6,radio/TV
1,22,female,2,own,little,moderate,5951,48,radio/TV
2,49,male,1,own,little,little,2096,12,other
3,45,male,2,free,little,little,7882,42,other
4,53,male,2,free,little,little,4870,24,car
5,35,male,1,free,little,little,9055,36,other
6,53,male,2,own,quite rich,little,2835,24,other
7,35,male,3,rent,little,moderate,6948,36,car
8,61,male,1,own,rich,little,3059,12,radio/TV
9,28,male,3,own,little,moderate,5234,30,car

In [52]:
# data should be a list of probabilities
def gini(probs):
    summ = 0
    for key in probs:
        summ = summ + key**2
    return(1-summ)

val = [0.25,0.25,0.25,0.25]
gini(val)

0.75

In [53]:
# data should be a list of probabilities
def entropy(probs):
    summ = 0
    for key in probs:
        summ = summ + key * math.log(key,2)
    return(-summ)

val = [0.25,0.25,0.25,0.25]
entropy(val)

2.0

In [67]:
# TO-DO: def CalcDT(df,vars,classe,ef):
# df: dataframe to process
# var: dataframe variables to use as predictors
# classe: class we want to predict 
# ef: impurity function we want to use
# Example of use-case: DT = CalcDT(data,data.columns.drop('Purpose'),'Purpose',Entropy)
def CalcDT(df,vars,classe,ef):
    print("CalcDT")

In [127]:
# Let's use now the sklearn library DecisionTreeClassifier to do the job.
# 1st we need to make every attribute discrete.
tt = {'male':0, 'female':1, 'own':0, 'free':1, 'rent':2, 'little':0, 'quite rich':1, 'rich':2, 'moderate':1, 'radio/TV':0, 'other':1,'car':2}
dfWithoutNan = dfWithoutNan.replace(tt)
dfWithoutNan

,Age,Sex,Job,Housing,SavingAccounts,CheckingAccount,CreditAmount,Duration,Purpose
0,67,0,2,0,0,0,1169,6,0
1,22,1,2,0,0,1,5951,48,0
2,49,0,1,0,0,0,2096,12,1
3,45,0,2,1,0,0,7882,42,1
4,53,0,2,1,0,0,4870,24,2
...,...,...,...,...,...,...,...,...,...
995,31,1,1,0,0,0,1736,12,1
996,40,0,3,0,0,0,3857,30,2
997,38,0,2,0,0,0,804,12,0
998,23,0,2,1,0,0,1845,45,0
999,27,0,2,0,1,1,4576,45,2

In [134]:
attrbs = [x for x in dataDescription]; classe = attrbs.pop(); del attrbs[-1]
X = dfWithoutNan[attrbs]; y = dfWithoutNan[classe]

# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1) # 70% training and 30% test

In [135]:
# Building Decision Tree Model

# Create Decision Tree classifer object
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

In [136]:
# Evaluating Model
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.4

In [147]:
from sklearn.tree import export_graphviz
from six import StringIO  
import pydotplus
from IPython.display import Image 

dot_data = StringIO()
export_graphviz(clf, out_file=dot_data, filled=True, rounded=True, special_characters=True)
#graph = pydotplus.graph_from_dot_data
graph = pydotplus.graph_from_dot_data(dot_data.getvalue()) 
graph.write_png('tree.png')
Image(graph.create_png())

InvocationException: GraphViz's executables not found