In [1]:
import pandas as pd

In [2]:
path = r'C:\Users\utilizador\Documents\a_hjoaquim\a_semestre2-5oano\PSn\pratica\guia-5\german_credit_data.csv'
df = pd.read_csv(path)

In [5]:
# Our class, i.e., what we want to predict is "Purpose"
df.drop(df.columns[0],1,inplace=True)
df

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose
0,67,male,2,own,NaN,little,1169,6,radio/TV
1,22,female,2,own,little,moderate,5951,48,radio/TV
2,49,male,1,own,little,NaN,2096,12,education
3,45,male,2,free,little,little,7882,42,furniture/equipment
4,53,male,2,free,little,little,4870,24,car
...,...,...,...,...,...,...,...,...,...
995,31,female,1,own,little,NaN,1736,12,furniture/equipment
996,40,male,3,own,little,little,3857,30,car
997,38,male,2,own,little,NaN,804,12,radio/TV
998,23,male,2,free,little,little,1845,45,radio/TV
999,27,male,2,own,moderate,moderate,4576,45,car

In [7]:
# Let's see our class distribution
df['Purpose'].value_counts()

car                    337
radio/TV               280
furniture/equipment    181
business                97
education               59
repairs                 22
domestic appliances     12
vacation/others         12
Name: Purpose, dtype: int64

In [11]:
# Let's make this distribution more even.
# In this example our class will have only 3 values: car, radio/TV and other
# We can thought of this re-arrangig as if the main thing we want to enphasise
# is car and radio/TV class values.

df['Purpose'] = df['Purpose'].apply(lambda x: 'other' if(x == 'furniture/equipment' or x == 'business' or x == 'education' or x == 'repairs' or x == 'domestic appliances' or x == 'vacation/others') else x)

In [12]:
df['Purpose'].value_counts()

other       383
car         337
radio/TV    280
Name: Purpose, dtype: int64