In [1]:
# Imports
import pandas as pd
import numpy as np; np.random.seed(0)
import seaborn as sns; sns.set_theme()
import geopandas as gpd

In [2]:
# Countys dataset
file_path = r'C:\Users\utilizador\Documents\a_hjoaquim\a_semestre2-5oano\PSn\pratica\guia-final\dataset.csv'
df = pd.read_csv(file_path,index_col='Municipios')

#### Shape-file treatment

In [12]:
# Shapefile 
geo_path = r'C:\Users\utilizador\Documents\a_hjoaquim\a_semestre2-5oano\PSn\pratica\guia-final\ShapeFiles\gadm36_PRT.gpkg'
shapefile = gpd.read_file(geo_path)
shapefile['join'] = shapefile['NAME_1'] + shapefile['NAME_2']
shp = shapefile.dissolve(by='join')
munGeo = shp['NAME_2'].to_list()

In [13]:
# Strip every county in the list, wich had a space in the end.
df.index = [mun.strip() for mun in df.index]
# Removing 'Portugal' from the county list and also removing white spaces that were in the list itself.
listOfCountys = df.index.unique().to_list()

In [14]:
# Renaming columns to match with df
shp.loc[shp['NAME_2']=='Ponte de Sôr','NAME_2'] = 'Ponte de Sor'
shp.loc[shp['NAME_2']=='Praia da Vitória','NAME_2'] = 'Vila da Praia da Vitória'
shp.loc[((shp['NAME_2']=='Calheta') & (shp['NAME_1'] == 'Azores')),'NAME_2'] = 'Calheta [R.A.A.]'
shp.loc[((shp['NAME_2']=='Calheta') & (shp['NAME_1']=='Madeira')),'NAME_2'] = 'Calheta [R.A.M.]'
shp.loc[((shp['NAME_2']=='Lagoa') & (shp['NAME_1']=='Azores')),'NAME_2'] = 'Lagoa [R.A.A.]'

In [17]:
# Renaming column
shp=shp.rename(columns={'NAME_1':'Distrito'})
# Changing index so it county based again
shp.index=shp['NAME_2']

In [8]:
df

,Ano,Indicador per Capita,Percentagem de Poder de Compra,Sem escolaridade,Básico 1º Ciclo,Básico 2º ciclo,Básico 3º ciclo,Secundário,Superior,População residente,...,Museus,Sessões de espectáculos ao vivo,Ecrãs de cinema,Despesas da Câmara Municipal em cultura e desporto (%),Pensões da Segurança Social,Pensões da Caixa Geral de Aposentações,Pensões da Segurança Social e da CGA em % da população residente,Beneficiários do Rendimento Social de Inserção (RSI),Desempregados inscritos nos centros de emprego,Desempregados inscritos nos centros de emprego em % da população residente
Abrantes,2010,86.75,0.320,12.8,31.1,11.5,11.5,14.3,10.3,39637,...,1,0,1,12.9,14640,2313,49,1337,2160,9
Abrantes,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35254,...,1,46,1,0.0,13879,2717,53,1005,1358,6
Águeda,2010,85.17,0.384,10.0,30.5,15.9,15.9,13.6,9.7,47875,...,1,23,1,7.2,14295,1337,38,1032,2147,7
Águeda,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46034,...,1,67,1,0.0,14658,1534,40,629,866,3
Aguiar da Beira,2010,61.58,0.032,25.4,35.8,9.4,9.4,10.6,4.6,5539,...,0,0,0,27.6,2233,181,50,166,200,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Viseu,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97120,...,5,697,13,0.0,23685,7001,36,2625,2951,5
Vizela,2010,72.06,0.163,9.9,34.3,17.4,17.4,11.9,6.1,23739,...,0,0,3,9.2,4467,285,24,621,2012,12
Vizela,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23869,...,0,13,3,0.0,6084,365,31,103,772,5
Vouzela,2010,60.99,0.061,14.7,36.7,13.7,13.7,11.2,7.1,10656,...,1,0,0,16.6,3692,438,45,160,323,5
Vouzela,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9640,...,0,22,0,0.0,3469,496,46,33,324,6

In [9]:
# To do a preliminar analysis we will devide the dataset in two, for the year of 2010 and 2019
df2010 = df.loc[df['Ano'] == 2010]
df2019 = df.loc[df['Ano'] == 2019]

### 1. The first question that we will try to answer is:
### "Does the number of education establishments influence the culture?"
Assumptions: We'll only work with the year of 2010 for now

In [10]:
# Em locais onde existe maior número de instituições de ensino, a população é mais educada?
# Sem escolaridade 	Básico 1º Ciclo 	Básico 2º ciclo 	Básico 3º ciclo 	Secundário 	Superior
# Estabelecimentos do ensino pré-escolar 	Estabelecimentos do 1.º ciclo do ensino básico 	Estabelecimentos do 2.º ciclo do ensino básico 	Estabelecimentos do 3.º ciclo do ensino básico 	Estabelecimentos do ensino secundário 	Estabelecimentos do ensino superior 

df2010_selectedColumns = df2010[['Municipios','Básico 1º Ciclo','Básico 2º ciclo','Básico 3º ciclo','Secundário','Superior','Estabelecimentos do ensino pré-escolar','Estabelecimentos do 1.º ciclo do ensino básico','Estabelecimentos do 2.º ciclo do ensino básico','Estabelecimentos do 3.º ciclo do ensino básico','Estabelecimentos do ensino secundário','Estabelecimentos do ensino superior']]
df2010_selectedColumns

KeyError: "['Municipios'] not in index"

In [ ]:
# As we can see, we still have lots of columns to analyse, so, to simplify the analysis we'll join some columns
# superior = ensino-superior
# middle = 3º-ciclo + secundario
# low = 2º-ciclo and below

df2010_establecimentosLow = df2010[['Estabelecimentos do ensino pré-escolar','Estabelecimentos do 1.º ciclo do ensino básico','Estabelecimentos do 2.º ciclo do ensino básico']]
df2010_establecimentosMiddle = df2010[['Estabelecimentos do 3.º ciclo do ensino básico', 'Estabelecimentos do ensino secundário']]
df2010_establecimentosSuperior = df2010[['Estabelecimentos do ensino superior']]
df2010_pplLow = df2010[['Básico 2º ciclo','Básico 1º Ciclo']]
df2010_pplMiddle = df2010[['Básico 3º ciclo', 'Secundário']]
df2010_pplSuperior = df2010[['Superior']]


d = {'Municipios': df2010['Municipios'].tolist(),
     'qty-Est-Superior': df2010_establecimentosSuperior.sum(axis=1).to_frame()[0].tolist(),
     'ppl-Superior-Ed': df2010_pplLow.sum(axis=1).to_frame()[0].tolist(),
     'qty-Est-Middle': df2010_establecimentosMiddle.sum(axis=1).to_frame()[0].tolist(),
     'ppl-Middle-Ed': df2010_pplMiddle.sum(axis=1).to_frame()[0].tolist(),
     'qty-Est-Low': df2010_establecimentosLow.sum(axis=1).to_frame()[0].tolist(),
     'ppl-Low-Ed': df2010_pplSuperior.sum(axis=1).to_frame()[0].tolist(),
    }
d1 = {'Municipios': df2010['Municipios'].tolist(),
      'ppl-Superior-Ed': df2010_pplLow.sum(axis=1).to_frame()[0].tolist(),
      'ppl-Middle-Ed': df2010_pplMiddle.sum(axis=1).to_frame()[0].tolist(),
      'ppl-Low-Ed': df2010_pplSuperior.sum(axis=1).to_frame()[0].tolist(),
     }
d2 = {'Municipios': df2010['Municipios'].tolist(),
      'qty-Est-Superior': df2010_establecimentosSuperior.sum(axis=1).to_frame()[0].tolist(),
      'qty-Est-Middle': df2010_establecimentosMiddle.sum(axis=1).to_frame()[0].tolist(),
      'qty-Est-Low': df2010_establecimentosLow.sum(axis=1).to_frame()[0].tolist(),
     }

df_qtyEstablecimentos = pd.DataFrame(data=d2)
df_pplEnsino = pd.DataFrame(data=d1)
df_qtyEstablecimentos_VS_Ensino = pd.DataFrame(data=d)
df_qtyEstablecimentos_VS_Ensino

In [ ]:
df_qtyEstablecimentos_VS_Ensino['qty-Est-Superior'].corr(df_qtyEstablecimentos_VS_Ensino['ppl-Superior-Ed'])