In [1]:
# Imports
import pandas as pd
import numpy as np; np.random.seed(0)
import seaborn as sns; sns.set_theme()

In [2]:
file_path = r'C:\Users\utilizador\Documents\a_hjoaquim\a_semestre2-5oano\PSn\pratica\guia-final\dataset.csv'
df = pd.read_csv(file_path)

In [3]:
df

,Municipios,Ano,Indicador per Capita,Percentagem de Poder de Compra,Sem escolaridade,Básico 1º Ciclo,Básico 2º ciclo,Básico 3º ciclo,Secundário,Superior,...,Museus,Sessões de espectáculos ao vivo,Ecrãs de cinema,Despesas da Câmara Municipal em cultura e desporto (%),Pensões da Segurança Social,Pensões da Caixa Geral de Aposentações,Pensões da Segurança Social e da CGA em % da população residente,Beneficiários do Rendimento Social de Inserção (RSI),Desempregados inscritos nos centros de emprego,Desempregados inscritos nos centros de emprego em % da população residente
0,Abrantes,2010,86.75,0.320,12.8,31.1,11.5,11.5,14.3,10.3,...,1,0,1,12.9,14640,2313,49,1337,2160,9
1,Abrantes,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,46,1,0.0,13879,2717,53,1005,1358,6
2,Águeda,2010,85.17,0.384,10.0,30.5,15.9,15.9,13.6,9.7,...,1,23,1,7.2,14295,1337,38,1032,2147,7
3,Águeda,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,67,1,0.0,14658,1534,40,629,866,3
4,Aguiar da Beira,2010,61.58,0.032,25.4,35.8,9.4,9.4,10.6,4.6,...,0,0,0,27.6,2233,181,50,166,200,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
611,Viseu,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5,697,13,0.0,23685,7001,36,2625,2951,5
612,Vizela,2010,72.06,0.163,9.9,34.3,17.4,17.4,11.9,6.1,...,0,0,3,9.2,4467,285,24,621,2012,12
613,Vizela,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,13,3,0.0,6084,365,31,103,772,5
614,Vouzela,2010,60.99,0.061,14.7,36.7,13.7,13.7,11.2,7.1,...,1,0,0,16.6,3692,438,45,160,323,5
615,Vouzela,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,22,0,0.0,3469,496,46,33,324,6

In [4]:
# To do a preliminar analysis we will devide the dataset in two, for the year of 2010 and 2019
df2010 = df.loc[df['Ano'] == 2010]
df2019 = df.loc[df['Ano'] == 2019]

### 1. The first question that we will try to answer is:
### "Does the number of education establishments influence the culture?"
Assumptions: We'll only work with the year of 2010 for now

In [9]:
# Em locais onde existe maior número de instituições de ensino, a população é mais educada?
# Sem escolaridade 	Básico 1º Ciclo 	Básico 2º ciclo 	Básico 3º ciclo 	Secundário 	Superior
# Estabelecimentos do ensino pré-escolar 	Estabelecimentos do 1.º ciclo do ensino básico 	Estabelecimentos do 2.º ciclo do ensino básico 	Estabelecimentos do 3.º ciclo do ensino básico 	Estabelecimentos do ensino secundário 	Estabelecimentos do ensino superior 

df2010_selectedColumns = df2010[['Municipios',
                                 'Básico 1º Ciclo',
                                 'Básico 2º ciclo',
                                 'Básico 3º ciclo',
                                 'Secundário',
                                 'Superior',
                                 'Estabelecimentos do ensino pré-escolar',
                                 'Estabelecimentos do 1.º ciclo do ensino básico',
                                 'Estabelecimentos do 2.º ciclo do ensino básico',
                                 'Estabelecimentos do 3.º ciclo do ensino básico',
                                 'Estabelecimentos do ensino secundário',
                                 'Estabelecimentos do ensino superior']]

# As we can see, we still have lots of columns to analyse, so, to simplify the analysis we'll join some columns
# superior = ensino-superior
# middle = 3º-ciclo + secundario
# low = 2º-ciclo and below

df2020_establecimentosLow = df2010[['Estabelecimentos do ensino pré-escolar','Estabelecimentos do 1.º ciclo do ensino básico','Estabelecimentos do 2.º ciclo do ensino básico']]
df2020_establecimentosMiddle = df2010[['Estabelecimentos do 3.º ciclo do ensino básico', 'Estabelecimentos do ensino secundário']]
df2020_establecimentosSuperior = df2010[['Estabelecimentos do ensino superior']]

df2020_establecimentosLow.sum(axis=1)
df2020_establecimentosMiddle.sum(axis=1)
df2020_establecimentosSuperior.sum(axis=1)

0      10
2       9
4       2
6       2
8       7
       ..
606     1
608     2
610    20
612     7
614     5
Length: 308, dtype: int64